<h1 class="text-center text-primary classy-font well">Requests</h1>
<hr>
<div class="" id="wrap">
  <div class="container col-md-12" id="main">
    <ul id="sent-requests" class="col-ms-6">
      <% @sent_requests.each do |request| %>
      <li>
        <h2 class="classy-font">
          Sent request for: #<%= request.id %> <a href="/requests/<%=request.id%>"><%= request.space.name %></a>
        </h2>
        <p>Status:<pre> <%= request.status %></pre></p>
        <p>Date of stay: <%= request.date.strftime("%d/%m/%Y") %></p>
      <% end %>
      </li>

    </ul>

    <ul id="received-requests" class="col-ms-6">
      <% @received_requests.each do |request| %>
      <li>
        <h2 class="classy-font">
          Received request for: #<%= request.id %> <a href="/requests/<%=request.id%>"><%= request.space.name %></a>
        </h2>
        <p>Status:<pre> <%= request.status %></pre></p>
        <p>Date of stay: <%= request.date.strftime("%d/%m/%Y") %></p>
      </li>
      <% end %>
    </ul>
  </div>

</div>
