<ul id="sent-requests">
  <% @sent_requests.each do |request| %>
    <h2 class="classy-font">
      Sent request for: #<%= request.id %> <a href="/requests/<%=request.id%>"><%= request.space.name %></a>
    </h2>
    <li>Status: <%= request.status %></li>
    <li>Date of stay: <%= request.date.strftime("%d/%m/%Y") %></li>
  <% end %>
</ul>

<ul id="received-requests">
  <% @received_requests.each do |request| %>
    <h2>
      Received request for: #<%= request.id %> <a href="/requests/<%=request.id%>"><%= request.space.name %></a>
    </h2>
    <li>Status: <%= request.status %></li>
    <li>Date of stay: <%= request.date.strftime("%d/%m/%Y") %></li>
  <% end %>
</ul>
