<h1><%=@individual_request.space.name %></h1>

<ul id="space_details">
  <li>Status: <%= @individual_request.status %></li>
  <li>Price: <%= @individual_request.space.price %></li>
  <li>Date: <%= @individual_request.date %></li>
</ul>

<% if current_user.id == @individual_request.host_id %>

  <form action="/requests/approve/<%=@individual_request.id%>" method="post">
    <button type="submit" value="Approve Request">Approve Request</button>
  </form>
  <br />
  <form action="/requests/deny/<%=@individual_request.id%>" method="post">
    <button type="submit" value="Deny Request">Deny Request</button>
  </form>

<% end %>
