<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makers BnB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
        </div>
        <a class="navbar-brand" href="/">BnB Jesus</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/spaces" alt="Spaces">Spaces</a></li>
        </ul>
      </div>
    </nav>


      <% if current_user %>
        <p id="login-message">You're logged in as <%= current_user.email %>!</p>

        <form action='/sessions' method='post'>
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" value="Log Out"> Log Out </button>
        </form>
      <% else %>
        <a href="/sessions/new" > Log In </a>
      <% end %>

      <% if flash[:logout] %>
        <div id="logout"><%= flash[:logout] %> </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:error] %>
        <% flash[:error].each do |error| %>
          <div class="error"><%= error %></div>
        <% end %>
      <% end %>

    <%= yield %>
  </body>
</html>
