<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makers BnB</title>
    <link type="image/png" rel="icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/src/jquery.min.js"></script>
    <script src="/src/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="fa fa-bars"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="img/long_logo.png" alt="logo" class="img img-responsive main-logo"/></a>
        </div>
      </div>

      <div class="collapse navbar-collapse navbar-fixed-top">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/spaces" alt="Spaces">Spaces</a></li>
          <li><a href="/" alt="signup">Sign Up</a></li>
        <% if current_user %>
          <li><a href="/requests" alt="Your requests">Your requests</a></li>
          <li>
            <form action='/sessions' method='post'>
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" value="Log Out">Log Out</button>
            </form>
          </li>

        <% else %>
        <li>
          <a href="/sessions/new" >Log In</a>
        </li>
        <% end %>
          <!-- <li></li> -->
        </ul>
      </div>
    </nav>


      <% if current_user %>
        <p class="text-center text-muted" id="login-message">You're logged in as <%= current_user.email %>!</p>
      <% end %>

      <% if flash[:logout] %>
        <div id="logout" class="text-center text-muted"><%= flash[:logout] %> </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="notice text-center text-muted"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:error] %>
        <% flash[:error].each do |error| %>
          <ul>
            <li class="error text-center text-muted"><%= error %></li>
          </ul>
        <% end %>
      <% end %>

    <%= yield %>


    <footer class="container-fluid text-center navbar-fixed-bottom">
      <a href="#myPage" title="To Top">
        <i class="fa fa-angle-double-up fa-lg"></i>
      </a>
      <p>Made By <a href="#" title="Team Jesus">Team Jesus</a></p>
    </footer>

  </body>
</html>
