<h1 class="text-center text-primary classy-font well"> Spaces </h1>

<div class="">
  <form action="/spaces/new" class="text-center">
    <button type="submit" class="btn btn-success">List a Space <i class="fa fa-plus"></i></button>
  </form>
</div>

<br>

<div class="col-md-12 ">
  <ul id="space-list" class="">
    <% @spaces.each do |space| %>
      <li class="well col-md-4 col-md-offset-1">
        <h2 class="classy-font bg-danger "><i class="fa fa-caret-square-o-right"></i> <a href="/spaces/<%= space.id %>"><%= space.name %></a></h2>
        <div class="">
          <p>
            Description: <pre><%= space.description %></pre>
          </p>
        </div>
        <div class="">
          <p>
            Price per night: £<%= space.price %>
          </p>
        </div>
        <form class="" action="/spaces/<%= space.id %>">
          <button type="submit" name="view-space" class="btn btn-default" >View This Space <i class="fa fa-home"></i></button>
        </form>

      </li>
    <% end %>
  </ul>
</div>

<br>
