<h1> Spaces </h1>

<form action="/spaces/new">
  <button type="submit">List a Space</button>
</form>

<ul id="space-list">
  <% @spaces.each do |space| %>
    <li>
      Name: <%= space.name %><br>
      Description: <%= space.description %><br>
      Price per night: £<%= space.price %><br>
      Available from: <%= space.available_from %><br>
      Available to: <%= space.available_to %>
    </li>
  <% end %>
</ul>
