<div class="container-fluid ">
  <h1 class="text-primary classy-font well text-center"> List a Space </h1>
  <div class="col-md-4 col-md-offset-4 text-center ">


    <% if current_user %>
      <form class="form-group form-horizontal row" action="/spaces" method="post">
        <div class="form-group">
          <label for="name"> Name: </label>
          <input class="form-control" size="50" placeholder="Enter your name" type="text" name="name" value="<%= @space.name %>">
        </div>
        <div class="form-group">
          <textarea class="form-size" placeholder="   Description" name="description" rows="5"><%= @space.description %></textarea>
        </div>
        <div class="form-group">
          <label for="price"> £: </label>
          <input class="form-control" size="50" placeholder="Price" type="number" name="price" value="<%= @space.price %>">
        </div>
        <div class="form-group">
          <label for="available_from"> Available from: </label>
          <input class="form-control" size="50" type="date" name="available_from" value="<%= @space.available_from %>">
        </div>
        <div class="form-group">
          <label for="available_to"> Available to: </label>
          <input class="form-control" size="50" type="date" name="available_to" value="<%= @space.available_to %>">
        </div>
        <input type="submit" value="List my Space">
      </form>
    <% else %>

      Must be logged in to add a Space

    <% end %>
  </div>

</div>
