<div class="container-fluid">
  <div class="">
    <h1 class=""><%= @space.name %><br></h1>
    <p><%= @space.description %></p>
    <h2>£<%= @space.price %> Per Night</h2>
    <h3>Available From: <%= @space.available_from.strftime("%d-%m-%Y") %></h3>
    <h3>Available To: <%= @space.available_to.strftime("%d-%m-%Y") %></h3>
  </div>

  <div class="">
    <form action="/requests" method="post">
      <input type="hidden" name="space_id" value="<%= @space.id %>">
      <label for="start_date">Pick a night: </label>
      <input name="start_date" type="date" required>
      <br>
      <button type="submit" value="Request to Book">Request to Book <i class="fa fa-check-circle"></i></button>
    </form>
  </div>
</div>
