<h1><%= @space.name %><br></h1>
<%= @space.description %><br>
<%= @space.price %><br>
<%= @space.available_from %><br>
<%= @space.available_to %><br>

<form action="/requests" method="post">
  <label for="start_date">Pick a night: </label>
  <input name="start_date" type="date" value="start_date">
  <br>
  <button type="submit" value="Request to Book">Request to Book</button>
</form>
<br>
